


.Select-Fee-Payment-Option {
  width: 192px;
  height: 60px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1b2a3b;
  margin-top: 44px;
  margin-left: 41px;
  margin-right: 142px;
  margin-bottom: 0px !important;
}

.Yearly-Total-Fees-Secondary-Section {
  width: 237px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 41.6px;
  margin-left: 27px;
}



.Payout-Term {
  width: 78px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 27px;
  margin-top: 19.3px;
  margin-bottom: 10px;
}




.Rectangle-34 {
  width: 71px;
  height: 89px;
  border-radius: 11px;
  background-color: #f1f4fb
  ;
  margin-right: 10px;
  color: #586bca !important;
}


.Annually {
  width: 54px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
}

.Half-Yearly {
  width: 38px;
  height: 31px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #586bca;
}

.Quarterly {
  width: 58px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #586bca;
}

.Monthly {
  width: 56px;
  height: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #586bca;
}
ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

.Estimated-School-Fee-Payouts {
  width: 191px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Rectangle {
  width: 285px;
  height: 50px;
  border-radius: 10px;
  background-color: #586bca;
  margin-left: 45px;
  margin-top: 104.4px;
  color:#ffffff ;
 
}

.as-per-annual-term-plan {
  width: 112px;
  height: 10px;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #3d2582;
}